@font-face {
    font-family: ParryHotter;
    src: url(ParryHotter.ttf);
}
h1{
    font-family: ParryHotter;
    padding-top: 15%;
}

body {
    background-image: url("../images/harry-potter-background-image.png");
}