@font-face {
    font-family: ParryHotter;
    src: url(ParryHotter.ttf);
}
body {
    background: url("../images/harry-potter-great-hall.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Kavivanar', cursive;
    color: gold;
    font-size: 25px;
}
h1{
    font-family: ParryHotter;
    padding-top: 15%;
    color: gold;
    font-size: 90px;
    text-shadow: 10px 10px black;
}
.main-content {
    margin: 0 100px;
}
#time-counter{
    font-size: 50px;
}
.game-section {
    display: none;
}
.gif-area {
    width: 250px;
    height: 250px;
    display: none;
}
button {
    cursor: pointer;
    border-radius: 10px;
    background-color: gold;
    min-width: 30%;
}
.reset-button {
    display: none;
}
@media (max-width: 991px) { 
    .main-content {
        margin: 0;
    }
 }
@media (max-width: 768px) { 
    button {
        min-width: 60%;
    }
 }
 